.formContainer {
  margin-top: 6rem;
  width: 90%;
  background-color: var(--background-muted);
  padding: 2rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: 1rem;
}

.formContainer h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 0.5rem;
}
.form div label {
  font-size: var(--fs-base);
}

.form div input {
  border: 1px solid var(--color-border);
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: var(--background);
  font-size: var(--fs-base);
}

.form div small:not(:nth-child(2)) {
  color: #ff0000;
}

.submitBtn {
  margin-top: 1rem;
  background-color: var(--foreground);
  color: var(--background);
  font-size: var(--fs-md);
  font-weight: bold;
  padding: 0.7em;
  cursor: pointer;
  transform: opacity 0.2s ease;
}

.submitBtn:hover {
  opacity: 0.8;
}

.suggestion {
  text-align: center;
}

.suggestion a {
  font-size: var(--fs-base);
  text-decoration: underline;
}

.form .socialLoginDiv {
  margin-top: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.socialLoginDiv button {
  padding: 1em 3em;
  background-color: var(--background);
  border: 1px solid var(--color-border);
  cursor: pointer;
}

.socialLoginDiv .errorMessage {
  color: #f52c2c;
}

@media screen and (min-width: 768px) {
  .formContainer {
    max-width: 650px;
  }
  .submitBtn {
    border-radius: 0.4rem;
  }

  .socialLoginDiv button {
    border-radius: 0.4rem;
  }
}
